@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: rgb(81, 175, 187);  
    --color2: rgb(54, 116, 124);

    --font1: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color1);
    font-family: var(--font1);
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

header {
    padding-bottom: 20px;
}

h1 {
    padding: 20px 0;
}

table {
    border-spacing: 10px;
    text-align: left;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--color1);
}

form button {
    border: none;
    background-color: var(--color1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--color2);
}

.p-resultado {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 128, 58);
}